body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: cursive;
  height: 100vh;
  background-image: url('/images/bg.jpg');
}
div{
  border: 3px solid #fff;
  max-width: 300px;
  background-color: #333;
  border-radius:50px;
  padding: 1.4rem;
}
.container{
  border: 2px solid #333;
  max-width: 300px;
  background-color: #f7f6f6;
  border-radius:50px;
  padding: 1.4rem;
}
h1{
  color: #333;
}
.online-status {
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  font-family: cursive;
  margin: auto;
  margin-bottom: 2rem;
}

.online-status.online {
  background-color: #4caf50;  /*  Online */
  color: white;
}

.online-status.offline {
  background-color: #f44336;  /*  Offline */
  color: white;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

